<app-pageheader
  headline="Wartungspläne {{ workplace.title }} {{ workplace.description }}"
  [showbackbutton]="true"
></app-pageheader>

<div class="flex_container_row_spacebetween_start">
  <h2>
    Arbeitsplatz {{ workplace.title }}
    {{ workplace.description }}
  </h2>
  <button
    mat-stroked-button
    color="primary"
    *ngIf="userService.caneditschedule === true"
    (click)="addPlan(workplace.id)"
  >
    Plan hinzufügen
  </button>
</div>
<table
  mat-table
  [dataSource]="scheduledplans"
  class="mat-elevation-z8 schedules-table"
>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.title }}</td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Beschreibung</th>
    <td mat-cell *matCellDef="let element">{{ element.description }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Aktionen</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-icon-button
        matTooltip="Schritte ansehen"
        (click)="showSteps(element)"
      >
        <mat-icon>list</mat-icon>
      </button>
      <button
        mat-icon-button
        matTooltip="Plan bearbeiten"
        *ngIf="userService.caneditschedule === true"
        (click)="editPlan(element)"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-icon-button
        matTooltip="Plan löschen"
        *ngIf="userService.caneditschedule === true"
        (click)="deletePlan(element)"
      >
        <mat-icon>delete</mat-icon>
      </button>
      <button
        mat-icon-button
        matTooltip="Plan ausführen"
        (click)="executePlan(element)"
      >
        <mat-icon>fact_check</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
