.table-steps,
.table-files {
  width: 100%;
  margin-top: 50px;
}

.firstelementintable {
  margin-right: 40px;
}

.emptydataintable {
  margin-top: 30px;
}

.notsavedwarning {
  color: red;
}

.savedcofirmation {
  color: green;
}

.metadataform {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.gallery {
  margin-top: 50px;
  > button {
    margin-bottom: 20px;
  }
}

.form-section {
  margin-top: 25px;
}

.calendarcontainer {
  min-width: 300px;
}

.datedisplay {
  text-align: center;
}

.seriesformcard {
  margin: 20px;
  .mat-checkbox {
    margin-right: 20px;
  }
  .mat-checkbox:last-child {
    margin-right: 0px;
  }
}
