<app-pageheader
  headline="Wartungsplan ausführen"
  [showbackbutton]="true"
></app-pageheader>

<table #stepstable mat-table [dataSource]="schedule.steps" class="table-steps">
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Aktionen</th>
    <td mat-cell *matCellDef="let element"></td>
  </ng-container>

  <ng-container matColumnDef="performer">
    <th mat-header-cell *matHeaderCellDef>Mitarbeiter</th>
    <td mat-cell *matCellDef="let element">{{ element.performer }}</td>
  </ng-container>

  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef>Position</th>
    <td mat-cell *matCellDef="let element">{{ element.position }}</td>
  </ng-container>

  <ng-container matColumnDef="protectivegear">
    <th mat-header-cell *matHeaderCellDef>PSA</th>
    <td mat-cell *matCellDef="let element">{{ element.protectivegear }}</td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef>Typ</th>
    <td mat-cell *matCellDef="let element">{{ element.type }}</td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Beschreibung</th>
    <td mat-cell *matCellDef="let element">{{ element.description }}</td>
  </ng-container>

  <ng-container matColumnDef="usedmaterial">
    <th mat-header-cell *matHeaderCellDef>Material</th>
    <td mat-cell *matCellDef="let element">{{ element.usedmaterial }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="stepstable_displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: stepstable_displayedColumns"></tr>
</table>
