<app-pageheader
  headline="Wartungsplan ausführen"
  [showbackbutton]="true"
></app-pageheader>

<!-- TODO: Fancyprogressbar here with progress of this specific worker/role -->

<gallery [items]="images"></gallery>

<table
  #stepstable
  mat-table
  [dataSource]="schedule.steps"
  multiTemplateDataRows
  class="table-steps"
>
  <ng-container
    matColumnDef="{{ column }}"
    *ngFor="let column of stepstable_columnIndices; let i = index"
  >
    <th mat-header-cell *matHeaderCellDef>{{ stepstable_columnNames[i] }}</th>
    <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
  </ng-container>

  <!-- Action Column: Because it is different. -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <mat-checkbox
        (click)="$event.stopPropagation(); addToSelection(element)"
        (change)="$event ? selection.toggle(element) : null"
        [checked]="selection.isSelected(element)"
        [disabled]="!hasrole(element)"
        [aria-label]="checkboxLabel(element)"
      >
      </mat-checkbox>
    </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td
      mat-cell
      *matCellDef="let element"
      [attr.colspan]="stepstable_columnSlugs.length"
    >
      <div
        class="step-detail"
        [@detailExpand]="
          expandedElements.includes(element) ? 'expanded' : 'collapsed'
        "
      >
        <mat-form-field appearance="fill" class="comment">
          <mat-label>Kommentar (optional)</mat-label>
          <textarea matInput [(ngModel)]="element.comment"></textarea>
        </mat-form-field>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="stepstable_columnSlugs"></tr>
  <tr
    mat-row
    *matRowDef="let element; columns: stepstable_columnSlugs"
    class="step-row"
    [class.expanded-row]="expandedElements.includes(element)"
    [class.disabled-row]="!hasrole(element)"
    (click)="
      hasrole(element) ? addToSelection(element) : null;
      hasrole(element) ? selection.toggle(element) : null
    "
  ></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: ['expandedDetail']"
    class="detail-row"
  ></tr>
</table>

<button
  mat-raised-button
  color="primary"
  [disabled]="!(selection.hasValue() && isAllSelected())"
  class="finishbutton"
  (click)="submit()"
>
  Bericht absenden
</button>
