<div id="noticketcontainer" class="flex_container_row_center_start">
  <div
    *ngIf="ticketList.length == 0"
    class="flex_container_column_start_center"
  >
    <h6>Nanu? Noch kein Ticket vorhanden?</h6>
    <button mat-flat-button color="accent" routerLink="/newticket">
      Direkt eins anlegen!
    </button>
  </div>
</div>
<div class="flex_container_row_start_stretch">
  <mat-card
    class="ticketcard"
    *ngFor="let ticket of ticketList"
    [routerLink]="['/ticket', ticket.id]"
  >
    <mat-card-title>{{ ticket.title }}</mat-card-title>
    <mat-card-subtitle
      >Arbeitsplatz:
      {{
        ticket.workplace[
          ticket.workplace.length - 1
        ].value
      }}</mat-card-subtitle
    >
    <mat-card-content>
      <span class="fielddescription">Kategorie: </span
      ><span>{{ ticket.kanban_state }}</span
      ><br />
      <span class="fielddescription">Erstellt: </span
      ><span>{{ ticket.created_at | date: "dd.MM.yyyy HH:mm" }}</span
      ><br />
      <span class="fielddescription">Status: </span
      ><span>{{ ticket.kanban_state }}</span
      ><br />
      <span class="fielddescription">Priorität: </span
      ><span>{{
        ticket.priority[
          ticket.priority.length - 1
        ].value
      }}</span>
    </mat-card-content>
    <mat-card-actions></mat-card-actions>
  </mat-card>
</div>
