<h2 mat-dialog-title>Schritt hinzufügen</h2>
<mat-dialog-content>
  <form [formGroup]="stepsForm">
    <mat-form-field appearance="outline">
      <mat-label>Wo muss der Schritt ausgeführt werden?</mat-label>
      <input matInput type="text" placeholder="" formControlName="position" />
      <mat-error *ngIf="stepsForm.get(['position'])!.invalid"
        >Wo muss der Schritt ausgeführt werden?</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Schutzausrüstung (PSA)</mat-label>
      <input
        matInput
        type="text"
        placeholder=""
        formControlName="protectivegear"
      />
      <mat-error *ngIf="stepsForm.get(['protectivegear'])!.invalid"
        >Welche Schutzausrüstung (PSA) wird benötigt?</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Aktion</mat-label>
      <mat-select formControlName="type">
        <mat-select-trigger>
          {{ stepsForm.get("type").value ? stepsForm.get("type").value : "" }}
        </mat-select-trigger>
        <mat-option *ngFor="let type of typeselectList" [value]="type.name">
          <mat-icon>{{ type.icon }}</mat-icon
          >{{ type.name }}</mat-option
        >
      </mat-select>
      <mat-error *ngIf="stepsForm.get(['type'])!.invalid"
        >Welche Aktion soll gemacht werden?</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Beschreibung</mat-label>
      <textarea matInput formControlName="description"></textarea>
      <mat-error *ngIf="stepsForm.get(['description'])!.invalid"
        >Bitte beschreiben Sie den Schritt</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Material</mat-label>
      <input
        matInput
        type="text"
        placeholder=""
        formControlName="usedmaterial"
      />
      <mat-error *ngIf="stepsForm.get(['usedmaterial'])!.invalid"
        >Wird zusätzliches Werkzeug benötigt?</mat-error
      >
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCloseClick()">Abbrechen</button>
  <button mat-button (click)="submitChanges()" cdkFocusInitial>
    Speichern
  </button>
</mat-dialog-actions>
