<mat-sidenav-container hasBackdrop="true" class="content-container" autosize>
  <mat-sidenav #sidenav mode="over" class="sidenav">
    <mat-toolbar>
      <mat-toolbar-row
        class="sidenav-entry menu-toolbar-with-icon"
        routerLink="/login"
        (click)="sidenav.toggle()"
        *ngIf="!(this.userService.isLoggedIn | async)"
      >
        <mat-icon aria-hidden="false" aria-label="Login icon">login</mat-icon>
        <span>Login</span>
      </mat-toolbar-row>

      <mat-toolbar-row
        class="sidenav-entry menu-toolbar-with-icon"
        routerLink="/"
        (click)="sidenav.toggle()"
        *ngIf="this.userService.isLoggedIn | async"
      >
        <mat-icon aria-hidden="false" aria-label="Ticketüberischt icon"
          >confirmation_number</mat-icon
        >
        <span>Tickets</span>
      </mat-toolbar-row>

      <mat-toolbar-row
        class="sidenav-entry menu-toolbar-with-icon"
        routerLink="/monitor"
        (click)="sidenav.toggle()"
        *ngIf="this.userService.isLoggedIn | async"
      >
        <mat-icon aria-hidden="false" aria-label="Monitor icon">dvr</mat-icon>
        <span>Monitor</span>
      </mat-toolbar-row>

      <mat-toolbar-row
        class="menu-toolbar-with-icon sidenav-entry"
        routerLink="/schedules"
        (click)="sidenav.toggle()"
        *ngIf="this.userService.isLoggedIn | async"
      >
        <mat-icon aria-hidden="false" aria-label="Geplante Wartungen icon"
          >task</mat-icon
        >
        <span>Wartungsarbeiten</span>
      </mat-toolbar-row>

      <mat-toolbar-row
        class="menu-toolbar-with-icon sidenav-entry"
        routerLink="/reports"
        (click)="sidenav.toggle()"
        *ngIf="this.userService.isLoggedIn | async"
      >
        <mat-icon aria-hidden="false" aria-label="Berichte icon"
          >summarize</mat-icon
        >
        <span>Reports</span>
      </mat-toolbar-row>

      <mat-toolbar-row
        class="sidenav-entry menu-toolbar-with-icon"
        (click)="logout()"
        *ngIf="this.userService.isLoggedIn | async"
      >
        <mat-icon aria-hidden="false" aria-label="Logout icon">logout</mat-icon>
        <span>Abmelden</span>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-toolbar color="primary" *ngIf="this.userService.isLoggedIn | async">
      <mat-toolbar-row
        class="sidenav-entry menu-toolbar-with-icon"
        routerLink="/newticket"
        (click)="sidenav.toggle()"
      >
        <mat-icon aria-hidden="false" aria-label="Add new ticket icon"
          >add</mat-icon
        >
        <span>Neues Ticket</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="toolbar-footer flex_container_column_start_stretch">
      <span *ngIf="this.userService.isLoggedIn | async"
        >Hallo {{ userService.username }}</span
      >
      <span
        class="versionnumber"
        (click)="updateappService.checkIfUpdateAvailable()"
        >Version: {{ version }}</span
      >
      <a mat-stroked-button href="/impress">Hinweise</a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div id="content">
      <button
        class="menuopener"
        mat-icon-button
        (click)="toggleMenuOnButton()"
        [ngClass]="{ 'menu-open': sidenav.opened }"
      >
        <mat-icon aria-hidden="false" aria-label="Expand menu icon"
          >menu</mat-icon
        >
      </button>

      <!-- Shows a progressbar with some functionalities. -->
      <app-progressbar></app-progressbar>

      <!-- Main output of the content. -->
      <router-outlet> </router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
