table,
.full-width {
  width: 100%;
}

.show-white-space {
  white-space: pre-wrap;
}

.cardsinformation {
  margin-top: 100px;
  margin-bottom: 100px;
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  flex-basis: 0;
}

.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.infocard {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 25 1 auto;
  -ms-flex: 25 1 auto;
  flex: 25 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}
