/* You can add global styles to this file, and also import other style files */

@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-divider {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.mat-expansion-panel-header .mat-content {
  line-height: 40px;
}

h6 {
  font-size: 3rem !important;
  line-height: 3rem !important;
  font-family: "Amatic SC", cursive !important;
}
