.mat-form-field {
  width: 100%;
  margin-top: 16px;
}

.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-divider {
  margin-top: 30px;
  margin-bottom: 30px;
}

.stepperbuttons {
  margin-top: 50px;

  .mat-stroked-button {
    margin-right: 30px;
  }
}

.camerabutton {
  margin: 30px 10px;
  transform: scale(1.5);
}
